# No object or library files
*.[oa]
*.so

# No backup copies
*~

# No logs or Pyro
*.log
Pyro*

# No .svn files
.svn

# No compiled Python
*.pyc

# subrepos
Instruments/Agilent/
Instruments/JFW50MS/
Instruments/Valon/
Instruments/PINatten/
Instruments/Radipower/
Interfaces/GPIB/
Interfaces/IOtech/
Interfaces/LabJack/
Interfaces/SNMP/
Interfaces/USB/
