# No object or library files
*.[oa]
*.so

# No backup copies
*~

# No .svn files
.svn

# No compiled Python
*.pyc

Instruments/Agilent/
Instruments/Valon/
Interfaces/GPIB/
Interfaces/IOtech/
Interfaces/LabJack/
Interfaces/SNMP/
Interfaces/USB/
