# No object or library files
*.[oa]
*.so

# No backup copies
*~

# No .svn files
.svn

# No compiled Python
*.pyc

# subrepos
Instruments/Agilent/
Instruments/JFW50MS/
Instruments/Valon/
Interfaces/GPIB/
Interfaces/IOtech/
Interfaces/LabJack/
Interfaces/SNMP/
Interfaces/USB/
Instruments/PINatten/
